In [75]:
import pandas as pd
import numpy as np

In [76]:
movies= pd.read_csv("./Movies/movies_dataset.csv")

C:\Users\gonza\AppData\Local\Temp\ipykernel_28788\648831714.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies= pd.read_csv("./Movies/movies_dataset.csv")

In [77]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [78]:
pd.options.display.max_columns = None

In [79]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [80]:
print(movies['belongs_to_collection'][0])

{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [81]:
print(type(['belongs_to_collection'][0]))

<class 'str'>

In [82]:
import ast

In [83]:
def extract_name(value):
    if isinstance(value, dict):  # Si ya es un diccionario, extraer el nombre
        return value.get('name', None)
    elif isinstance(value, str) and value.startswith("{"):  # Si es un string tipo diccionario
        try:
            parsed_value = ast.literal_eval(value)  # Convertir el string en diccionario
            return parsed_value.get('name', None)  # Extraer 'name' si existe
        except (ValueError, SyntaxError):  # Capturar errores en la conversión
            return None
    return None  # Si es NaN, float, None u otro tipo, devolver None

In [84]:
movies['collection_name'] = movies['belongs_to_collection'].apply(extract_name)

In [85]:
def extract_id(value):
    if isinstance(value, dict):  # Si ya es un diccionario, extraer el nombre
        return value.get('id', None)
    elif isinstance(value, str) and value.startswith("{"):  # Si es un string tipo diccionario
        try:
            parsed_value = ast.literal_eval(value)  # Convertir el string en diccionario
            return parsed_value.get('id', None)  # Extraer 'name' si existe
        except (ValueError, SyntaxError):  # Capturar errores en la conversión
            return None
    return None

In [86]:
movies['id_collection'] = movies['belongs_to_collection'].apply(extract_id)
movies['id_collection'] = movies['id_collection'].astype('Int64')

In [87]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name,id_collection
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,10194
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None,<NA>
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,119050
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,None,<NA>
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,96871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,None,<NA>
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,None,<NA>
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,None,<NA>
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,None,<NA>
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,None,<NA>

In [88]:
print(movies['genres'][0])
print(type(['genres'][0]))

[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
<class 'str'>

In [89]:
movies['genres'] = movies['genres'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) and x.startswith("[") else x)

In [90]:
movies = movies.explode('genres')

In [91]:
movies['genre_id'] = movies['genres'].apply(lambda x: x.get('id') if isinstance(x, dict) else None)
movies['genre_name'] = movies['genres'].apply(lambda x: x.get('name') if isinstance(x, dict) else None)

In [92]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name,id_collection,genre_id,genre_name
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"{'id': 16, 'name': 'Animation'}",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,10194,16.0,Animation
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"{'id': 35, 'name': 'Comedy'}",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,10194,35.0,Comedy
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"{'id': 10751, 'name': 'Family'}",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,10194,10751.0,Family
1,False,NaN,65000000,"{'id': 12, 'name': 'Adventure'}",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None,<NA>,12.0,Adventure
1,False,NaN,65000000,"{'id': 14, 'name': 'Fantasy'}",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None,<NA>,14.0,Fantasy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45463,False,NaN,0,"{'id': 28, 'name': 'Action'}",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,None,<NA>,28.0,Action
45463,False,NaN,0,"{'id': 18, 'name': 'Drama'}",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,None,<NA>,18.0,Drama
45463,False,NaN,0,"{'id': 53, 'name': 'Thriller'}",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,None,<NA>,53.0,Thriller
45464,False,NaN,0,NaN,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,None,<NA>,NaN,None
45465,False,NaN,0,NaN,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,None,<NA>,NaN,None

In [93]:
print(movies['production_companies'][0])
print(type(['production_companies'][0]))

0    [{'name': 'Pixar Animation Studios', 'id': 3}]
0    [{'name': 'Pixar Animation Studios', 'id': 3}]
0    [{'name': 'Pixar Animation Studios', 'id': 3}]
Name: production_companies, dtype: object
<class 'str'>

In [94]:
movies['production_companies'] = movies['production_companies'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) and x.startswith("[") else x)

In [95]:
movies = movies.explode('production_companies')

movies['production_company'] = movies['production_companies'].apply(
    lambda x: x.get('name') if isinstance(x, dict) else None)

In [96]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name,id_collection,genre_id,genre_name,production_company
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"{'id': 16, 'name': 'Animation'}",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"{'name': 'Pixar Animation Studios', 'id': 3}","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,10194,16.0,Animation,Pixar Animation Studios
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"{'id': 35, 'name': 'Comedy'}",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"{'name': 'Pixar Animation Studios', 'id': 3}","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,10194,35.0,Comedy,Pixar Animation Studios
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"{'id': 10751, 'name': 'Family'}",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"{'name': 'Pixar Animation Studios', 'id': 3}","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,10194,10751.0,Family,Pixar Animation Studios
1,False,NaN,65000000,"{'id': 12, 'name': 'Adventure'}",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"{'name': 'TriStar Pictures', 'id': 559}","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None,<NA>,12.0,Adventure,TriStar Pictures
1,False,NaN,65000000,"{'id': 12, 'name': 'Adventure'}",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"{'name': 'Teitler Film', 'id': 2550}","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None,<NA>,12.0,Adventure,Teitler Film
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45463,False,NaN,0,"{'id': 28, 'name': 'Action'}",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"{'name': 'American World Pictures', 'id': 6165}","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,None,<NA>,28.0,Action,American World Pictures
45463,False,NaN,0,"{'id': 18, 'name': 'Drama'}",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"{'name': 'American World Pictures', 'id': 6165}","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,None,<NA>,18.0,Drama,American World Pictures
45463,False,NaN,0,"{'id': 53, 'name': 'Thriller'}",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"{'name': 'American World Pictures', 'id': 6165}","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,None,<NA>,53.0,Thriller,American World Pictures
45464,False,NaN,0,NaN,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"{'name': 'Yermoliev', 'id': 88753}","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,None,<NA>,NaN,None,Yermoliev
45465,False,NaN,0,NaN,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,NaN,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,None,<NA>,NaN,None,None

In [97]:
print(movies['production_countries'][0])
print(type(['production_countries'][0]))

0    [{'iso_3166_1': 'US', 'name': 'United States o...
0    [{'iso_3166_1': 'US', 'name': 'United States o...
0    [{'iso_3166_1': 'US', 'name': 'United States o...
Name: production_countries, dtype: object
<class 'str'>

In [98]:
movies['production_countries'] = movies['production_countries'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) and x.startswith("[") else x)

movies = movies.explode('production_countries')

movies['production_country'] = movies['production_countries'].apply(
    lambda x: x.get('name') if isinstance(x, dict) else None)

In [99]:
movies[30:60]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name,id_collection,genre_id,genre_name,production_company,production_country
5,False,NaN,60000000,"{'id': 53, 'name': 'Thriller'}",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,"{'name': 'Regency Enterprises', 'id': 508}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,None,<NA>,53.0,Thriller,Regency Enterprises,United States of America
5,False,NaN,60000000,"{'id': 53, 'name': 'Thriller'}",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,"{'name': 'Forward Pass', 'id': 675}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,None,<NA>,53.0,Thriller,Forward Pass,United States of America
5,False,NaN,60000000,"{'id': 53, 'name': 'Thriller'}",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,"{'name': 'Warner Bros.', 'id': 6194}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,None,<NA>,53.0,Thriller,Warner Bros.,United States of America
6,False,NaN,58000000,"{'id': 35, 'name': 'Comedy'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Paramount Pictures', 'id': 4}","{'iso_3166_1': 'DE', 'name': 'Germany'}",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,35.0,Comedy,Paramount Pictures,Germany
6,False,NaN,58000000,"{'id': 35, 'name': 'Comedy'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Paramount Pictures', 'id': 4}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,35.0,Comedy,Paramount Pictures,United States of America
6,False,NaN,58000000,"{'id': 35, 'name': 'Comedy'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Scott Rudin Productions', 'id': 258}","{'iso_3166_1': 'DE', 'name': 'Germany'}",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,35.0,Comedy,Scott Rudin Productions,Germany
6,False,NaN,58000000,"{'id': 35, 'name': 'Comedy'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Scott Rudin Productions', 'id': 258}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,35.0,Comedy,Scott Rudin Productions,United States of America
6,False,NaN,58000000,"{'id': 35, 'name': 'Comedy'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Mirage Enterprises', 'id': 932}","{'iso_3166_1': 'DE', 'name': 'Germany'}",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,35.0,Comedy,Mirage Enterprises,Germany
6,False,NaN,58000000,"{'id': 35, 'name': 'Comedy'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Mirage Enterprises', 'id': 932}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,35.0,Comedy,Mirage Enterprises,United States of America
6,False,NaN,58000000,"{'id': 35, 'name': 'Comedy'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Sandollar Productions', 'id': 5842}","{'iso_3166_1': 'DE', 'name': 'Germany'}",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,35.0,Comedy,Sandollar Productions,Germany
6,False,NaN,58000000,"{'id': 35, 'name': 'Comedy'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Sandollar Productions', 'id': 5842}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,35.0,Comedy,Sandollar Productions,United States of America
6,False,NaN,58000000,"{'id': 35, 'name': 'Comedy'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Constellation Entertainment', 'id': ...","{'iso_3166_1': 'DE', 'name': 'Germany'}",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,35.0,Comedy,Constellation Entertainment,Germany
6,False,NaN,58000000,"{'id': 35, 'name': 'Comedy'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Constellation Entertainment', 'id': ...","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,35.0,Comedy,Constellation Entertainment,United States of America
6,False,NaN,58000000,"{'id': 35, 'name': 'Comedy'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Worldwide', 'id': 55873}","{'iso_3166_1': 'DE', 'name': 'Germany'}",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,35.0,Comedy,Worldwide,Germany
6,False,NaN,58000000,"{'id': 35, 'name': 'Comedy'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Worldwide', 'id': 55873}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,35.0,Comedy,Worldwide,United States of America
6,False,NaN,58000000,"{'id': 35, 'name': 'Comedy'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Mont Blanc Entertainment GmbH', 'id'...","{'iso_3166_1': 'DE', 'name': 'Germany'}",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,35.0,Comedy,Mont Blanc Entertainment GmbH,Germany
6,False,NaN,58000000,"{'id': 35, 'name': 'Comedy'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Mont Blanc Entertainment GmbH', 'id'...","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,35.0,Comedy,Mont Blanc Entertainment GmbH,United States of America
6,False,NaN,58000000,"{'id': 10749, 'name': 'Romance'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Paramount Pictures', 'id': 4}","{'iso_3166_1': 'DE', 'name': 'Germany'}",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,10749.0,Romance,Paramount Pictures,Germany
6,False,NaN,58000000,"{'id': 10749, 'name': 'Romance'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Paramount Pictures', 'id': 4}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,10749.0,Romance,Paramount Pictures,United States of America
6,False,NaN,58000000,"{'id': 10749, 'name': 'Romance'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Scott Rudin Productions', 'id': 258}","{'iso_3166_1': 'DE', 'name': 'Germany'}",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,10749.0,Romance,Scott Rudin Productions,Germany
6,False,NaN,58000000,"{'id': 10749, 'name': 'Romance'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Scott Rudin Productions', 'id': 258}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,10749.0,Romance,Scott Rudin Productions,United States of America
6,False,NaN,58000000,"{'id': 10749, 'name': 'Romance'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Mirage Enterprises', 'id': 932}","{'iso_3166_1': 'DE', 'name': 'Germany'}",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,10749.0,Romance,Mirage Enterprises,Germany
6,False,NaN,58000000,"{'id': 10749, 'name': 'Romance'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Mirage Enterprises', 'id': 932}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,10749.0,Romance,Mirage Enterprises,United States of America
6,False,NaN,58000000,"{'id': 10749, 'name': 'Romance'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Sandollar Productions', 'id': 5842}","{'iso_3166_1': 'DE', 'name': 'Germany'}",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,10749.0,Romance,Sandollar Productions,Germany
6,False,NaN,58000000,"{'id': 10749, 'name': 'Romance'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Sandollar Productions', 'id': 5842}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,10749.0,Romance,Sandollar Productions,United States of America
6,False,NaN,58000000,"{'id': 10749, 'name': 'Romance'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Constellation Entertainment', 'id': ...","{'iso_3166_1': 'DE', 'name': 'Germany'}",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,10749.0,Romance,Constellation Entertainment,Germany
6,False,NaN,58000000,"{'id': 10749, 'name': 'Romance'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Constellation Entertainment', 'id': ...","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,10749.0,Romance,Constellation Entertainment,United States of America
6,False,NaN,58000000,"{'id': 10749, 'name': 'Romance'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Worldwide', 'id': 55873}","{'iso_3166_1': 'DE', 'name': 'Germany'}",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,10749.0,Romance,Worldwide,Germany
6,False,NaN,58000000,"{'id': 10749, 'name': 'Romance'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Worldwide', 'id': 55873}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,10749.0,Romance,Worldwide,United States of America
6,False,NaN,58000000,"{'id': 10749, 'name': 'Romance'}",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"{'name': 'Mont Blanc Entertainment GmbH', 'id'...","{'iso_3166_1': 'DE', 'name': 'Germany'}",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,None,<NA>,10749.0,Romance,Mont Blanc Entertainment GmbH,Germany

In [100]:
movies['spoken_languages'] = movies['spoken_languages'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) and x.startswith("[") else x)

In [101]:
movies = movies.explode('spoken_languages')

In [102]:
movies['spoken_language'] = movies['spoken_languages'].apply(
    lambda x: x.get('name') if isinstance(x, dict) else None)

In [103]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name,id_collection,genre_id,genre_name,production_company,production_country,spoken_language
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"{'id': 16, 'name': 'Animation'}",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"{'name': 'Pixar Animation Studios', 'id': 3}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-10-30,373554033.0,81.0,"{'iso_639_1': 'en', 'name': 'English'}",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,10194,16.0,Animation,Pixar Animation Studios,United States of America,English
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"{'id': 35, 'name': 'Comedy'}",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"{'name': 'Pixar Animation Studios', 'id': 3}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-10-30,373554033.0,81.0,"{'iso_639_1': 'en', 'name': 'English'}",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,10194,35.0,Comedy,Pixar Animation Studios,United States of America,English
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"{'id': 10751, 'name': 'Family'}",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"{'name': 'Pixar Animation Studios', 'id': 3}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-10-30,373554033.0,81.0,"{'iso_639_1': 'en', 'name': 'English'}",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,10194,10751.0,Family,Pixar Animation Studios,United States of America,English
1,False,NaN,65000000,"{'id': 12, 'name': 'Adventure'}",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"{'name': 'TriStar Pictures', 'id': 559}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,262797249.0,104.0,"{'iso_639_1': 'en', 'name': 'English'}",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None,<NA>,12.0,Adventure,TriStar Pictures,United States of America,English
1,False,NaN,65000000,"{'id': 12, 'name': 'Adventure'}",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"{'name': 'TriStar Pictures', 'id': 559}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,262797249.0,104.0,"{'iso_639_1': 'fr', 'name': 'Français'}",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None,<NA>,12.0,Adventure,TriStar Pictures,United States of America,Français
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45463,False,NaN,0,"{'id': 28, 'name': 'Action'}",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"{'name': 'American World Pictures', 'id': 6165}","{'iso_3166_1': 'US', 'name': 'United States of...",2003-08-01,0.0,90.0,"{'iso_639_1': 'en', 'name': 'English'}",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,None,<NA>,28.0,Action,American World Pictures,United States of America,English
45463,False,NaN,0,"{'id': 18, 'name': 'Drama'}",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"{'name': 'American World Pictures', 'id': 6165}","{'iso_3166_1': 'US', 'name': 'United States of...",2003-08-01,0.0,90.0,"{'iso_639_1': 'en', 'name': 'English'}",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,None,<NA>,18.0,Drama,American World Pictures,United States of America,English
45463,False,NaN,0,"{'id': 53, 'name': 'Thriller'}",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"{'name': 'American World Pictures', 'id': 6165}","{'iso_3166_1': 'US', 'name': 'United States of...",2003-08-01,0.0,90.0,"{'iso_639_1': 'en', 'name': 'English'}",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,None,<NA>,53.0,Thriller,American World Pictures,United States of America,English
45464,False,NaN,0,NaN,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"{'name': 'Yermoliev', 'id': 88753}","{'iso_3166_1': 'RU', 'name': 'Russia'}",1917-10-21,0.0,87.0,NaN,Released,NaN,Satan Triumphant,False,0.0,0.0,None,<NA>,NaN,None,Yermoliev,Russia,None
45465,False,NaN,0,NaN,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,NaN,"{'iso_3166_1': 'GB', 'name': 'United Kingdom'}",2017-06-09,0.0,75.0,"{'iso_639_1': 'en', 'name': 'English'}",Released,NaN,Queerama,False,0.0,0.0,None,<NA>,NaN,None,None,United Kingdom,English

In [104]:
columns_to_drop = ['belongs_to_collection', 'genres', 'production_companies','production_countries','spoken_languages','video','imdb_id','adult',
                   'original_title','poster_path','homepage','id_collection','genre_id','status','tagline']  
movies.drop(columns=columns_to_drop, inplace=True)

In [105]:
movies

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,title,vote_average,vote_count,collection_name,genre_name,production_company,production_country,spoken_language
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Animation,Pixar Animation Studios,United States of America,English
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Comedy,Pixar Animation Studios,United States of America,English
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Family,Pixar Animation Studios,United States of America,English
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,None,Adventure,TriStar Pictures,United States of America,English
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,None,Adventure,TriStar Pictures,United States of America,Français
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Betrayal,3.8,6.0,None,Action,American World Pictures,United States of America,English
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Betrayal,3.8,6.0,None,Drama,American World Pictures,United States of America,English
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Betrayal,3.8,6.0,None,Thriller,American World Pictures,United States of America,English
45464,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Satan Triumphant,0.0,0.0,None,None,Yermoliev,Russia,None
45465,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Queerama,0.0,0.0,None,None,None,United Kingdom,English

In [106]:
movies[['revenue', 'budget']] = movies[['revenue', 'budget']].fillna(0)

In [107]:
movies.dropna(subset=['release_date'], inplace=True)

In [108]:
movies

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,title,vote_average,vote_count,collection_name,genre_name,production_company,production_country,spoken_language
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Animation,Pixar Animation Studios,United States of America,English
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Comedy,Pixar Animation Studios,United States of America,English
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Family,Pixar Animation Studios,United States of America,English
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,None,Adventure,TriStar Pictures,United States of America,English
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,None,Adventure,TriStar Pictures,United States of America,Français
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Betrayal,3.8,6.0,None,Action,American World Pictures,United States of America,English
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Betrayal,3.8,6.0,None,Drama,American World Pictures,United States of America,English
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Betrayal,3.8,6.0,None,Thriller,American World Pictures,United States of America,English
45464,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Satan Triumphant,0.0,0.0,None,None,Yermoliev,Russia,None
45465,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Queerama,0.0,0.0,None,None,None,United Kingdom,English

In [109]:
movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce').dt.strftime('%Y-%m-%d')

movies['release_year'] = pd.to_datetime(movies['release_date'], errors='coerce').dt.year

print(movies[['release_date', 'release_year']].head())

  release_date  release_year
0   1995-10-30        1995.0
0   1995-10-30        1995.0
0   1995-10-30        1995.0
1   1995-12-15        1995.0
1   1995-12-15        1995.0

In [110]:
movies['release_year'] = movies['release_year'].astype('Int64')

print(movies[['release_date', 'release_year']].head())

  release_date  release_year
0   1995-10-30          1995
0   1995-10-30          1995
0   1995-10-30          1995
1   1995-12-15          1995
1   1995-12-15          1995

In [111]:
movies['revenue'] = pd.to_numeric(movies['revenue'], errors='coerce')
movies['budget'] = pd.to_numeric(movies['budget'], errors='coerce')

In [112]:
movies['return'] = movies.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] > 0 else 0, axis=1)

In [113]:
print(movies[['revenue', 'budget', 'return']].head())

       revenue      budget     return
0  373554033.0  30000000.0  12.451801
0  373554033.0  30000000.0  12.451801
0  373554033.0  30000000.0  12.451801
1  262797249.0  65000000.0   4.043035
1  262797249.0  65000000.0   4.043035

In [114]:
credits= pd.read_csv("./Movies/credits.csv")

In [115]:
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [116]:

def get_principal_actor(cast):
    try:
        cast_list = ast.literal_eval(cast)  
        for actor in cast_list:
            if actor.get('order') == 0:
                return actor.get('name')  
        return None  
    except (ValueError, SyntaxError):
        return None

In [117]:
credits['principal_actor'] = credits['cast'].apply(get_principal_actor)

In [118]:
credits

,cast,crew,id,principal_actor
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,Tom Hanks
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,Robin Williams
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,Walter Matthau
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,Whitney Houston
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,Steve Martin
...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,None
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,Angel Aquino
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,Erika Eleniak
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,Iwan Mosschuchin
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,None

In [119]:
def get_director(crew):
    try:
        crew_list = ast.literal_eval(crew)  
        for person in crew_list:
            if person.get('job') == 'Director':
                return person.get('name')  
        return None  
    except (ValueError, SyntaxError):
        return None

In [120]:
credits['director'] = credits['crew'].apply(get_director)

In [121]:
credits

,cast,crew,id,principal_actor,director
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,Tom Hanks,John Lasseter
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,Robin Williams,Joe Johnston
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,Walter Matthau,Howard Deutch
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,Whitney Houston,Forest Whitaker
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,Steve Martin,Charles Shyer
...,...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,None,Hamid Nematollah
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,Angel Aquino,Lav Diaz
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,Erika Eleniak,Mark L. Lester
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,Iwan Mosschuchin,Yakov Protazanov
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,None,Daisy Asquith

In [122]:
credits.drop(columns=['cast','crew'], inplace=True)

In [123]:
movies['id'] = movies['id'].astype(str)  
credits['id'] = credits['id'].astype(str)

In [124]:
movies_credits = pd.merge(movies, credits, on='id', how='left')

In [125]:
movies_credits

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,title,vote_average,vote_count,collection_name,genre_name,production_company,production_country,spoken_language,release_year,return,principal_actor,director
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Animation,Pixar Animation Studios,United States of America,English,1995,12.451801,Tom Hanks,John Lasseter
1,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Comedy,Pixar Animation Studios,United States of America,English,1995,12.451801,Tom Hanks,John Lasseter
2,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Family,Pixar Animation Studios,United States of America,English,1995,12.451801,Tom Hanks,John Lasseter
3,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,None,Adventure,TriStar Pictures,United States of America,English,1995,4.043035,Robin Williams,Joe Johnston
4,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,None,Adventure,TriStar Pictures,United States of America,Français,1995,4.043035,Robin Williams,Joe Johnston
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421935,0.0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Betrayal,3.8,6.0,None,Action,American World Pictures,United States of America,English,2003,0.000000,Erika Eleniak,Mark L. Lester
421936,0.0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Betrayal,3.8,6.0,None,Drama,American World Pictures,United States of America,English,2003,0.000000,Erika Eleniak,Mark L. Lester
421937,0.0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Betrayal,3.8,6.0,None,Thriller,American World Pictures,United States of America,English,2003,0.000000,Erika Eleniak,Mark L. Lester
421938,0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Satan Triumphant,0.0,0.0,None,None,Yermoliev,Russia,None,1917,0.000000,Iwan Mosschuchin,Yakov Protazanov
421939,0.0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Queerama,0.0,0.0,None,None,None,United Kingdom,English,2017,0.000000,None,Daisy Asquith

In [126]:
movies_credits = movies_credits[movies_credits['vote_average'] >= 6].reset_index(drop=True)

movies_credits= movies_credits[movies_credits['release_year'] > 1980].reset_index(drop=True)

In [127]:
movies_credits

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,title,vote_average,vote_count,collection_name,genre_name,production_company,production_country,spoken_language,release_year,return,principal_actor,director
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Animation,Pixar Animation Studios,United States of America,English,1995,12.451801,Tom Hanks,John Lasseter
1,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Comedy,Pixar Animation Studios,United States of America,English,1995,12.451801,Tom Hanks,John Lasseter
2,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Family,Pixar Animation Studios,United States of America,English,1995,12.451801,Tom Hanks,John Lasseter
3,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,None,Adventure,TriStar Pictures,United States of America,English,1995,4.043035,Robin Williams,Joe Johnston
4,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,None,Adventure,TriStar Pictures,United States of America,Français,1995,4.043035,Robin Williams,Joe Johnston
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210208,0.0,390959,en,"In this true-crime documentary, we delve into ...",0.076061,2000-10-22,0.0,45.0,Shadow of the Blair Witch,7.0,2.0,None,Mystery,None,None,English,2000,0.000000,None,Ben Rock
210209,0.0,390959,en,"In this true-crime documentary, we delve into ...",0.076061,2000-10-22,0.0,45.0,Shadow of the Blair Witch,7.0,2.0,None,Horror,None,None,English,2000,0.000000,None,Ben Rock
210210,0.0,289923,en,A film archivist revisits the story of Rustin ...,0.38645,2000-10-03,0.0,30.0,The Burkittsville 7,7.0,1.0,None,Horror,Neptune Salad Entertainment,United States of America,English,2000,0.000000,None,Ben Rock
210211,0.0,289923,en,A film archivist revisits the story of Rustin ...,0.38645,2000-10-03,0.0,30.0,The Burkittsville 7,7.0,1.0,None,Horror,Pirie Productions,United States of America,English,2000,0.000000,None,Ben Rock
210212,0.0,111109,tl,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Century of Birthing,9.0,3.0,None,Drama,Sine Olivia,Philippines,,2011,0.000000,Angel Aquino,Lav Diaz

In [128]:
idiomas_unicos = movies_credits['spoken_language'].explode().unique()
print(idiomas_unicos)

['English' 'Français' 'Español' 'Pусский' 'Deutsch' 'Nederlands'
 '广州话 / 廣州話' '普通话' 'Magyar' None 'shqip' 'Italiano' 'فارسی' 'Dansk'
 'Latin' '' '日本語' 'Hrvatski' 'Bosanski' 'Română' 'עִבְרִית' 'Český'
 '한국어/조선말' 'Polski' 'Gaeilge' 'Norsk' 'svenska' 'العربية' 'Tiếng Việt'
 'Português' 'Català' 'Íslenska' 'Afrikaans' 'Srpski' 'Cymraeg'
 'Bahasa melayu' 'ภาษาไทย' 'ελληνικά' 'suomi' 'हिन्दी' 'български език'
 'Український' 'Slovenčina' 'Esperanto' 'Türkçe' 'Kiswahili' 'No Language'
 'Azərbaycan' 'اردو' 'Bamanankan' 'پښتو' 'Somali' 'ქართული' 'ਪੰਜਾਬੀ'
 'беларуская мова' 'தமிழ்' 'Galego' 'বাংলা' 'Kinyarwanda' 'isiZulu'
 'қазақ' 'Eesti' 'Lietuvi\x9akai' 'Latviešu' 'తెలుగు' 'Slovenščina'
 'Bahasa indonesia' 'Wolof' 'euskera' 'Fulfulde' '?????' 'Bokmål' '??????'
 'ozbek' 'Hausa']

In [129]:
movies_credits = movies_credits[movies_credits['spoken_language'].notna()]
movies_credits = movies_credits[movies_credits['spoken_language'].apply(
    lambda langs: any(lang in idiomas_unicos for lang in langs.split(',')) if isinstance(langs, str) else False)]

In [130]:
movies_credits

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,title,vote_average,vote_count,collection_name,genre_name,production_company,production_country,spoken_language,release_year,return,principal_actor,director
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Animation,Pixar Animation Studios,United States of America,English,1995,12.451801,Tom Hanks,John Lasseter
1,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Comedy,Pixar Animation Studios,United States of America,English,1995,12.451801,Tom Hanks,John Lasseter
2,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Family,Pixar Animation Studios,United States of America,English,1995,12.451801,Tom Hanks,John Lasseter
3,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,None,Adventure,TriStar Pictures,United States of America,English,1995,4.043035,Robin Williams,Joe Johnston
4,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,None,Adventure,TriStar Pictures,United States of America,Français,1995,4.043035,Robin Williams,Joe Johnston
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210208,0.0,390959,en,"In this true-crime documentary, we delve into ...",0.076061,2000-10-22,0.0,45.0,Shadow of the Blair Witch,7.0,2.0,None,Mystery,None,None,English,2000,0.000000,None,Ben Rock
210209,0.0,390959,en,"In this true-crime documentary, we delve into ...",0.076061,2000-10-22,0.0,45.0,Shadow of the Blair Witch,7.0,2.0,None,Horror,None,None,English,2000,0.000000,None,Ben Rock
210210,0.0,289923,en,A film archivist revisits the story of Rustin ...,0.38645,2000-10-03,0.0,30.0,The Burkittsville 7,7.0,1.0,None,Horror,Neptune Salad Entertainment,United States of America,English,2000,0.000000,None,Ben Rock
210211,0.0,289923,en,A film archivist revisits the story of Rustin ...,0.38645,2000-10-03,0.0,30.0,The Burkittsville 7,7.0,1.0,None,Horror,Pirie Productions,United States of America,English,2000,0.000000,None,Ben Rock
210212,0.0,111109,tl,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Century of Birthing,9.0,3.0,None,Drama,Sine Olivia,Philippines,,2011,0.000000,Angel Aquino,Lav Diaz

In [132]:
movies_credits

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,title,vote_average,vote_count,collection_name,genre_name,production_company,production_country,spoken_language,release_year,return,principal_actor,director
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Animation,Pixar Animation Studios,United States of America,English,1995,12.451801,Tom Hanks,John Lasseter
1,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Comedy,Pixar Animation Studios,United States of America,English,1995,12.451801,Tom Hanks,John Lasseter
2,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,Toy Story Collection,Family,Pixar Animation Studios,United States of America,English,1995,12.451801,Tom Hanks,John Lasseter
3,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,None,Adventure,TriStar Pictures,United States of America,English,1995,4.043035,Robin Williams,Joe Johnston
4,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,None,Adventure,TriStar Pictures,United States of America,Français,1995,4.043035,Robin Williams,Joe Johnston
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10034,23000000.0,10341,de,Until The End of the World is an odyssey for t...,2.14652,1991-09-12,0.0,287.0,Until the End of the World,6.3,45.0,None,Action,Road Movies Filmproduktion,United States of America,Français,1991,0.000000,William Hurt,Wim Wenders
10035,23000000.0,10341,de,Until The End of the World is an odyssey for t...,2.14652,1991-09-12,0.0,287.0,Until the End of the World,6.3,45.0,None,Action,Road Movies Filmproduktion,United States of America,Deutsch,1991,0.000000,William Hurt,Wim Wenders
10036,23000000.0,10341,de,Until The End of the World is an odyssey for t...,2.14652,1991-09-12,0.0,287.0,Until the End of the World,6.3,45.0,None,Action,Road Movies Filmproduktion,United States of America,Italiano,1991,0.000000,William Hurt,Wim Wenders
10037,23000000.0,10341,de,Until The End of the World is an odyssey for t...,2.14652,1991-09-12,0.0,287.0,Until the End of the World,6.3,45.0,None,Action,Road Movies Filmproduktion,United States of America,日本語,1991,0.000000,William Hurt,Wim Wenders
10038,23000000.0,10341,de,Until The End of the World is an odyssey for t...,2.14652,1991-09-12,0.0,287.0,Until the End of the World,6.3,45.0,None,Action,Wim Wenders Stiftung,Australia,English,1991,0.000000,William Hurt,Wim Wenders

In [ ]:
movies_credits = movies_credits.iloc[:10000]

In [133]:
movies_credits.to_csv(r"C:\Users\gonza\Downloads\Movies-20250204T142232Z-001\Movies\movies_credits.csv", index=False)

In [135]:
movies_credits['release_date'] = pd.to_datetime(movies_credits['release_date'], errors='coerce')

C:\Users\gonza\AppData\Local\Temp\ipykernel_28788\2347828303.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_credits['release_date'] = pd.to_datetime(movies_credits['release_date'], errors='coerce')